@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.oval {
  clip-path: ellipse(57% 26% at 49% 25%);
}

.ovalSm { 
  clip-path: ellipse(57% 28% at 49% 25%);
}
.customInput::placeholder {
  color: white; /* Change this to your desired color */
  opacity: 1; /* Ensure full opacity */
}

.custom-shadow {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
}
/* For better browser compatibility */
.customInput:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

.customInput::-ms-input-placeholder { /* Edge */
  color: white;
}

@media (max-width: 640px) { /* Adjust for small devices */
  .oval { 
    clip-path: ellipse(57% 28% at 49% 25%);
  }
}
@media (max-height: 500px) { /* Adjust for small devices */
  .oval {
    clip-path:  ellipse(67% 40% at 49% 34%);
}

}
@media (max-height: 765px) { /* Adjust for small devices */
  .oval {
    clip-path: ellipse(57% 34% at 49% 34%);
}

.control {
  padding: 10px;
}
.controlh2{ font-size: 30px !important; padding-bottom: 10px; }
}